Customers CRUD
 <ul id="navigation">
        {% for item in customers %}
            <li>{{ item.name }} 
                            <a href="{{ path('pello_customer_crud_homepage_detail', {'id': item.id }) }}">Detail</a>
                            <a href="{{ path('pello_customer_crud_homepage_update', {'id': item.id }) }}">Update</a>
                            <a href="{{ path('pello_customer_crud_homepage_delete', {'id': item.id }) }}">Delete</a>
            </li>
        {% endfor %}
        </ul>
<div><a href="{{ path('pello_customer_crud_homepage_new') }}">New</a> </div>