{# src/Pello/FormsBundle/Resources/views/footer.html.twig #}
<ul>
<li><a href="{{ path ('pello_forms_locale', {'_locale':'en'}) }}" title="{% trans %}change.locale{% endtrans %}">{% trans %}en{% endtrans %}</a></li>
<li><a href="{{ path ('pello_forms_locale', {'_locale':'es'}) }}" title="{% trans %}change.locale{% endtrans %}">{% trans %}es{% endtrans %}</a></li>
<li><a href="{{ path ('pello_forms_homepage') }}">{% trans %}home{% endtrans %}</a></li>
<li><a href="{{ path ('pello_forms_simple') }}">{% trans %}simple{% endtrans %}</a></li>
<li><a href="{{ path ('pello_forms_classic') }}">{% trans %}classic{% endtrans %}</a></li>
</ul>